*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(10, 10, 10);
    color: orange;
}

menu{
    display: flex;
}

button{
    width: 100%;
    padding: 7px;
    font-size: 120%;
    font-weight: bold;
    border: none;
    background-color: rgb(20, 20, 20);
    color: orange;
}

button:hover{
    cursor: pointer;
}

pages{
    display: flex;
    justify-content: center;
}

section{
    margin: 50px;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 60px;
}

a, uniqueEvent{
    position: relative;
    bottom: 0px;
    transition: ease-out 0.3s;
}

a:hover, uniqueEvent:hover{
    bottom: 5px;
    cursor: pointer;
}

#backgroundIMG{
    height: 220px;
}

section#PornHub #backgroundIMG{
    border: 1px solid rgb(144, 93, 0);
}

section#Leaks #backgroundIMG{
    border: 1px solid rgb(222, 17, 171);
}

section#HanimeTV #backgroundIMG{
    border: 1px solid rgb(80, 80, 80);
}

section#Artists #backgroundIMG{
    border: 1px solid rgb(13, 91, 79);
}

#pfpIMG{
    position: absolute;
    left: 5%;
    bottom: -30px;
    width: 40%;
    border-radius: 50%;
}

section#PornHub #pfpIMG{
    border: 5px solid rgb(48, 0, 152);
}

section#Leaks #pfpIMG{
    border: 5px solid rgb(5, 29, 124);
}

section#HanimeTV #pfpIMG{
    left: 8%;
    bottom: -20px;
    width: 35%;
    border: 5px solid rgb(19, 26, 95);
    border-radius: 10%;
}

section#Artists #pfpIMG{
    border: 5px solid rgb(132, 3, 87);
}

#Name{
    position: absolute;
    left: 52%;
    bottom: 20px;
    font-size: 140%;
    font-weight: bold;
    text-decoration: none;
}

section#PornHub #Name{
    color: rgb(77, 59, 217);
}

section#Leaks #Name{
    color: rgb(20, 48, 159);
}

section#HanimeTV #Name{
    color: rgb(49, 60, 155);
}

section#Artists #Name{
    color: rgb(145, 24, 102);
}

#Thiccwithaq img{
    width: 100%;
}

@media (max-width: 1000px) {

    section{
        grid-template-columns: auto auto;
    }

    #backgroundIMG{
        height: 180px;
    }
    
    #Name{
        font-size: 120%;
    }
}

@media (max-width: 500px) {

    section{
        grid-template-columns: auto;
    }

    #backgroundIMG{
        height: 200px;
    }
}