*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(27, 26, 26);
    color: orange;
}

menu{
    display: flex;
}

button{
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 5vh;
    border: none;
    color: orange;
    font-size: 1.2em;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

section{
    margin: 50px;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 80px;
}

a{
    position: relative;
    aspect-ratio: 16/9;
}

#backgroundIMG{
    width: 100%;
    height: 220px;
    border: 1px solid rgb(144, 93, 0);
}

#pfpIMG{
    position: absolute;
    left: 20px;
    bottom: -30px;
    border: 5px solid rgb(39, 0, 124);
    border-radius: 50%;
}

#Name{
    font-weight: bold;
    text-decoration: none;
    color: rgb(77, 59, 217);
    font-size: 1.5em;
    position: absolute;
    left: 190px;
    bottom: 20px;
}