body{
    background-color: rgb(33, 33, 38);
    color: rgb(148, 148, 159);
    font-size: 125%; font-family: Arial;
    padding: 2%;
}

#wrapper{
    display: flex;
    justify-content: center;
}

table{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

td{
    position: relative;
    min-width: 100px; max-width: 100px; height: 100px;
    padding: 8px;
    border: 3px solid rgb(103, 103, 121);
}

#time td{
    height: 50px;
}

#time span{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    font-size: 55%;
}

#classes span{
    position: absolute;
    bottom: 10%;
    left: 7%;
    font-size: 55%;
}

#classes span:last-of-type{
    left: unset; right: 7%;
}

#classes div{
    position: absolute;
    top: 12%;
    left: 0; right: 0;
    width: 70%;
    margin-left: auto; margin-right: auto;
    border: 6px solid rgb(79, 79, 93);
    background-color: rgb(33, 33, 38);
}

#classes div:hover{
    cursor: pointer;
}

#classes div table{
    display: none;
    justify-content: center;
}

#classes div td{
    height: 75px;
}

#inside-table{
    padding: 0;
}

#inside-table table{
    width: 100%;
}

#inside-table tr, #classes div tr{
    border-bottom: 3px solid rgb(103, 103, 121);
}

#inside-table tr:last-child, #classes div tr:last-child{
    border-bottom: none;
}

#inside-table td{
    height: 50px;
    border: none;
    border-right: 3px solid rgb(103, 103, 121);
}

#inside-table table td:last-child, #classes div td:last-child{
    border: none;
}

@media (max-width: 1200px){
    #wrapper:first-child{
        zoom: 0.5;
    }
}

@media (max-width: 600px){
    #wrapper:first-child{
        zoom: 0.25;
    }
}