html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: rgb(33, 33, 38);
  color: rgb(148, 148, 159);
  font-size: 1.3rem;
  padding: 2rem;
  font-family: Arial;
  margin-right: auto;
}

table {
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  margin-right: auto;
  scale: calc(200vw / 1920);
  margin-left: auto;
}

td {
  position: relative;
  min-width: 6rem;
  max-width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  border: 0.2rem solid rgb(103, 103, 121);
}

span {
  position: absolute;
  font-size: 0.55em;
}

#class {
  height: 3rem;
  font-size: 1.5em;
  background-color: rgb(28, 28, 31);
}

#time td {
  height: 3rem;
}

#time div {
  position: absolute;
  top: 0;
  z-index: 1;
  font-weight: bold;
  background-color: rgb(43, 43, 58);
  color: rgb(120, 120, 147);
  cursor: pointer;
}

#time div td {
  display: none;
  border-top: none;
  border-bottom: 0.2rem solid rgb(103, 103, 121);
  border-left: none;
}

#time div td:hover {
  background-color: rgb(120, 120, 147);
  color: rgb(43, 43, 58);
}

#time span {
  bottom: 8%;
  left: 0;
  width: 100%;
}

.schedule {
  display: none;
}

.schedule span {
  bottom: 10%;
  left: 7%;
}

.schedule div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 12%;
  right: 0;
  left: 0;
  width: 70%;
  border: 0.2rem solid rgb(103, 103, 121);
  background-color: rgb(33, 33, 38);
  cursor: pointer;
}

.schedule div table {
  display: none;
  justify-content: center;
}

.schedule div td {
  height: 3.5rem;
  border: none;
  border-bottom: 0.2rem solid rgb(103, 103, 121);
}

div tr:last-child td {
  border-bottom: none;
}

td:has(table) {
  padding: 0;
  font-size: 0.85em;
}

td > table {
  width: 100%;
}

td > table tr:first-child {
  border-bottom: 0.2rem solid rgb(103, 103, 121);
}

td > table td {
  height: 2.5rem;
  border: none;
  border-right: 0.2rem solid rgb(103, 103, 121);
}

td > table td:last-child {
  border-right: none;
}
