* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(228, 201, 128);
    color: rgb(8, 51, 38);
}

section {
    margin-left: 20vh;
    margin-right: 8vh;
    margin-top: 10vh;
    border-left: 2.5px solid rgb(119, 119, 119);
    border-radius: 1px;
    padding-left: 1vw;
}

div {
    background-color: rgb(17, 92, 17);
    color: white;
    padding: 10px;
}

video {
    z-index: 1;
}



.list {
    transition: 0.6s;
}

.nav {
    z-index: 2  ;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 15vw;
    background-color: black;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 100%;
    max-height: 50vh;
}

.nav ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 5vh;
    padding: 12%;
    transition: 0.6s;
}

.nav ul li.active {
    transform: translateX(0.3vw);
}

.nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 12vw;
    height: 12vh;
    line-height: 13vh;
    transition: 0.6s;
    border-radius: 10px;
    font-size: 1.5em;
    color: rgb(74, 150, 51);
}

.nav ul li.active a .icon {
    background-color: rgb(74, 150, 51);
    color: black;
}

.nav ul li a .icon::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: rgb(83, 197, 49);
    filter: blur(15px);
    opacity: 0;
    transition: 0.6s;
}

.nav ul li.active a .icon::before {
    opacity: 0.5;
}

.nav ul li a .text {
    font-style: bold;
    position: relative;
    padding: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(23, 133, 23);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

.nav.open ul li a .text {
    opacity: 1;
    visibility: visible;
}

.nav.open {
    width: 230px;
}

.nav.open .nav_tog::before {
    transform: translateY(0px) rotate(45deg);
}

.nav.open .nav_tog::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 rgb(74, 150, 51);
}

.nav .nav_tog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5%;
    border-bottom: 1px solid white;
    background-color: rgb(16, 16, 16);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 22.5px;
}

.nav .nav_tog::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(74, 150, 51);
    transform: translateY(-8px);
    transition: 0.6s;
}

.nav .nav_tog::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(74, 150, 51);
    transform: translateY(8px);
    transition: 0.6s;
    box-shadow: 0 -8px 0 rgb(74, 150, 51);
}


.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    border: 1px solid red;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .swiper-slide img {
    display: block;
    width: 450px;
    height: 300px;
    object-fit: cover;
}




@media only screen and (min-width: 768px) {
    .nav {
    width: 75px;
    }

    section {
        margin-left: 10vw;
        margin-right: 8vw;
        margin-top: 6vh;
    }

    .nav ul {
        gap: 60px;
    }

    .nav ul li a .icon {
        min-width: 55px;
        height: 55px;
        line-height: 60px;
        font-size: 1.7em;
    }
}