* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(15, 0, 0);
    background-size: contain;
    font-family: Arial;
    color: rgb(252, 235, 203);
    font-size: larger;
    font-family: lucida console;
    text-align: justify;
}

p {
    margin: 15px;
}

section {
    display: grid;
    grid-template-columns: 100%;
}

h2 {
    padding-bottom: 10px;
    color: rgb(231, 211, 170);
}

div.about {
    background: url(pics/aliensbg1.jpg) no-repeat center;
}

div.hunt {
    background: url(pics/aliensbg2.jpg) no-repeat center;
}

div.customize {
    background: url(pics/aliensbg3.jpg) no-repeat center;
}

div.pathogen {
    background: url(pics/alienspathogenbg1.jpg) no-repeat center;
}

div.text {
    width: 30%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.700);
}

div.nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5vw;
    align-items: center;
    height: 5.5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.850);
    top: 0;
    position: fixed;
}

button {
    width: 8vw;
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 0.8em;
    font-weight: bold;
}

button:hover {
    color: rgb(150, 0, 0);
    cursor: pointer;
}

.gifs img {
    aspect-ratio: 16/9;
}

.gifs .container {
    display: flex;
    justify-content: space-around;
}

.gifs .article {
    height: 40vh;
    margin: 0.5vw;
}

.gifs div.text {
    height: 80%;
    background-color: rgba(30, 30, 30, 0.65);
}

.gifs div.text:nth-child(2) {
    display: flex;
    justify-content: center;
}

